<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manali package</title>
    <link href="/css/style1.css" rel="stylesheet">
    <style>
     
        body{
            background-color: #dcf3f7;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            scroll-behavior: smooth;
            box-sizing: border-box;
            
        }
        .image img{
    display: inline-flex;
          vertical-align: top;
          position: relative;
          width: 50px;
          height: 50px;
          margin-left: 10%;
          margin-top: 15px; 
          opacity: 90%;  
          border:1px solid black;
          border-radius: 50px;
  }
  .containerr {
    width: 10%;
    align-items: center;
    justify-content: center;
  }
  .textt {
   position: absolute;
   margin-left:5.5%;
   margin-top:-5%;
  }
  .go-btn{
    background-color: #3e52e4; 
        border-radius: 5px;
        color: white; 
        border: none;
        padding: 9px 10px; 
        font-size: 14px; 
        cursor: pointer; 
 }
 .go-btn:hover{
    color:black;
    transition: 0.7;
 }
 h1 {
      text-align: center;
      color: #333333;
    }

    .main-body img{
        width:3%;
        height: auto;
        margin-left: 27%;
        margin-top: 3%;
    }
    </style>
</head>
<body>
    <div>
      <div class="containerr">
        <div class="image">
          <img src="/css/images/logo.jfif">
        </div>
        <div class="textt">
            <h1 style="font-size: 32px;">Travel</h1>
        </div>
    </div>
    <div style="text-align: right ;margin-top: -3.3%;margin-right:1.5%">
      <a href="http://localhost:3000/account/<%= details.phone%>">
          <button class="go-btn">Back</button>
      </a>
  </div>
  <h1 style="text-decoration: underline;">Manali tour package</h1>
        <div class="carousel">
          <ul class="slides">
            <input type="radio" name="radio-buttons" id="img-1" checked />
            <li class="slide-container">
              <div class="slide-image">
                <img src="/css/images/manali/hadimba_temple.jpg">
              </div>
              <div class="carousel-controls">
                <label for="img-3" class="prev-slide">
                  <span>&lsaquo;</span>
                </label>
                <label for="img-2" class="next-slide">
                  <span>&rsaquo;</span>
                </label>
              </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-2" />
            <li class="slide-container">
              <div class="slide-image" style="width:100%;">
                <img src="/css/images/manali/solang_valley.jpg">
              </div>
              <div class="carousel-controls">
                <label for="img-1" class="prev-slide">
                  <span>&lsaquo;</span>
                </label>
                <label for="img-3" class="next-slide">
                  <span>&rsaquo;</span>
                </label>
              </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-3" />
            <li class="slide-container">
              <div class="slide-image">
                <img src="css/images/manali/Rohtang-Pass-Himachal.jpg">
              </div>
              <div class="carousel-controls">
                <label for="img-2" class="prev-slide">
                  <span>&lsaquo;</span>
                </label>
                <label for="img-1" class="next-slide">
                  <span>&rsaquo;</span>
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <section>
        <div class="main-body">
          <img src="/css/images/icons/location.png" >
          <h3 style="margin-left: 31%; margin-top: -2%;">Himachal Pradesh,India</h3>
        </div>
        <div class="main-body">
          <img src="/css/images/icons/clock.png" >
          <h3 style="margin-left: 31%; margin-top: -2%;">3 nights/4 days</h3>
        </div>
        <div class="main-body" style="margin-left: 40%;margin-top: -13%;">
          <img src="/css/images/icons/price.png" >
          <h3 style="margin-left: 32%; margin-top: -2%;">price Rs 10,999</h3>
        </div>
        
         
        </div>
      </section>

      <section class="faqs" id="Faqs">
        <div style="    width: 65%;border: none;margin-left: 15%;margin-top:10%;background-color: white;">
 <details>
   <summary>Day 1: Delhi to Manali</summary>
   <p><ul>
    <li>Arrival in Delhi. </li>
    <li>Volvo coach pick-up from Majnu ka Tilla/Srilanka house, New Delhi Railway station at 5:30 p.m.</li>
    <li>Transfer to Manali by evening.</li>
    <li> Reach Manali at 8:00 to 9:00 a.m.</li>
  </ul>
  
  </p>	 
 </details>
 <details>
  <summary>Day 2: Manali Local Sightseeing</summary>
  <p>
    <ul>
   <li>Reach Manali at 09:00 AM.</li>
   <li>Please meet with our local representative at Manali Volvo Stand.</li>
   <li>Pick-up and transfer to Manali Hotel.</li>
   <li>Check-in at the hotel, rest and freshen up.</li>
   <li>In the afternoon, visit Hadimba Devi Temple, Manu Temple, Club House, Shiva Temple, Tibetan Monastery, Van Vihar, Vashisht Village, Hot spring Water, etc.</li>
   <li>In the evening, enjoy dance and dinner at a local Rajasthani restaurant. </ul>
    <li>Stroll down Mall Road in the evening.</li>
    <li> Dinner and overnight stay at the hotel</li>
    </ul>
 </p>
 </details>
 <details>
  <summary>Day 3: Manali (Solang Valley) and Gulab (Up To Possible Snow Point)</summary>
  <p><ul>
   <li>After breakfast, start for Solang Valley.</li>
   <li>Solang Valley is a side valley at the top of the Kullu valley in Himachal Pradesh. It is known for its summer and winter sports conditions. The sports most commonly offered are Ropeway, parachuting, paragliding, skating and zorbing. Snow melts during the summer months starting in May, and skiing is then replaced by zorbing.</li>
   <li> Dinner & overnight stay in Manali.</li>
 </ul>
 
 </p>
 </details>
 <details>
    <summary>Day 4: Manali to Kullu and Manikaran (Kasol)- 85 Kms</summary>
    <p><ul>
     <li>After breakfast, drive to Kullu.</li>
     <li>Enroute, visit Vaishno Devi Temple and Kullu shawls factory.</li>
     <li> Head to Manikaran.</li>
     <li>Manikaran is located in the Parvati Valley between the rivers Vyaas and Parvati in the Kullu district of Himachal Pradesh. The hot water springs of Manikaran are famous across the country for their healing properties. The water temperature is more than the boiling point, making it possible to boil rice, pulses etc., in it.</li>
     <li> Reach back to Manali in the evening.</li>
     <li>  Dinner and overnight stay at the hotel..</li>
   </ul>
   
   </p>	 
  </details>
  <details>
    <summary>Day 5: Manali to Delhi</summary>
    <p><ul>
     <li>After breakfast, check out from the hotel at noon. </li>
     <li>Explore the local market (you can keep your luggage at the hotel).</li>
     <li>Drop at Volvo bus stand at 4:30 PM for onward journey to Delhi.</li>
   </ul>
   
   </p>	 
  </details>
</div>
    </section>
   <div style="margin-left: 42%;margin-bottom: 5%;">
    <a href="/package4/package_booking/<%=details.phone%>" class="btn btn-lg">Book Now</a>
   </div>

</body>
</html>