<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kerala package</title>
    <link href="/css/style1.css" rel="stylesheet">
    <style>
     
        body{
            background-color: #dcf3f7;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            scroll-behavior: smooth;
            box-sizing: border-box;
            
        }
        .image img{
    display: inline-flex;
          vertical-align: top;
          position: relative;
          width: 50px;
          height: 50px;
          margin-left: 10%;
          margin-top: 15px; 
          opacity: 90%;  
          border:1px solid black;
          border-radius: 50px;
  }
  .containerr {
    width: 10%;
    align-items: center;
    justify-content: center;
  }
  .textt {
   position: absolute;
   margin-left:5.5%;
   margin-top:-5%;
  }
  .go-btn{
    background-color: #3e52e4; 
        border-radius: 5px;
        color: white; 
        border: none;
        padding: 9px 10px; 
        font-size: 14px; 
        cursor: pointer; 
 }
 .go-btn:hover{
    color:black;
    transition: 0.7;
 }
 h1 {
      text-align: center;
      color: #333333;
    }

    .main-body img{
        width:3%;
        height: auto;
        margin-left: 27%;
        margin-top: 3%;
    }
    </style>
</head>
<body>
    <div>
      <div class="containerr">
        <div class="image">
          <img src="/css/images/logo.jfif">
        </div>
        <div class="textt">
            <h1 style="font-size: 32px;">Travel</h1>
        </div>
    </div>
    <div style="text-align: right ;margin-top: -3.3%;margin-right:1.5%">
      <a href="http://localhost:3000/account/<%= details.phone%>">
          <button class="go-btn">Back</button>
      </a>
  </div>
  <h1 style="text-decoration: underline;">Kerala tour package</h1>
  <div class="carousel">
    <ul class="slides">
      <input type="radio" name="radio-buttons" id="img-1" checked />
      <li class="slide-container">
        <div class="slide-image">
          <img src="/css/images/kerala/eravikulam.jpg">
        </div>
        <div class="carousel-controls">
          <label for="img-3" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-2" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <input type="radio" name="radio-buttons" id="img-2" />
      <li class="slide-container">
        <div class="slide-image" style="width:100%;">
          <img src="/css/images/kerala/Alleppey_beach.jpg">
        </div>
        <div class="carousel-controls">
          <label for="img-1" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-3" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <input type="radio" name="radio-buttons" id="img-3" />
      <li class="slide-container">
        <div class="slide-image">
          <img src="/css/images/kerala/mattupetty dam.jpg">
        </div>
        <div class="carousel-controls">
          <label for="img-2" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-1" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
    </ul>
  </div>
      </div>
      <section>
        <div class="main-body">
          <img src="/css/images/icons/location.png" >
          <h3 style="margin-left: 31%; margin-top: -2%;">Kerala,India</h3>
        </div>
        <div class="main-body">
          <img src="/css/images/icons/clock.png" >
          <h3 style="margin-left: 31%; margin-top: -2%;">3 nights/4 days</h3>
        </div>
        <div class="main-body" style="margin-left: 40%;margin-top: -13%;">
          <img src="/css/images/icons/price.png" >
          <h3 style="margin-left: 32%; margin-top: -2%;">price Rs 5,999</h3>
        </div>
        
         
        </div>
      </section>

      <section class="faqs" id="Faqs">
        <div style="    width: 65%;border: none;margin-left: 15%;margin-top:10%;background-color: white;">
 <details>
   <summary>Day 1: Arrive in Kochi & Transfer to Munnar</summary>
   <p><ul>
    <li>On arrival in Kochi, pick-up from Kochi Airport/railway station.

    <li>Proceed to Munnar.</li>
    <li>On the way visit the waterfalls of Valara and Cheeyappara.</li>
    <li>On arrival in Munnar check into the resort.</li>
    <li>Overnight stay at the resort.</li>
    <li>CP</li>
  </ul>
  
  </p>	 
 </details>
 <details>
  <summary>Day 2: Explore Munnar</summary>
  <p>
    <ul>
   <li>After breakfast, local sightseeing of Munnar.</li>
   <li>Visit Rajamalai to see the Nilgiri Tahrs, Mattupetty where boating facility is available, the Echo Point, Kundala Lake for boating in Shikara boats, Top Station, etc.</li>
   <li>Overnight stay in Munnar.</li>
   <li> Meals: CP</li>
 </p>
 </details>
 <details>
  <summary>Day 3: Munnar to Alleppey</summary>
  <p><ul>
   <li>Check out from the resort and proceed to Alleppey.</li>
   <li> On arrival check in to the houseboat.</li>
   <li>Cruise through the unique backwaters of Kerala.</li>
   <li>The houseboat will be your transportation for the day and accommodation for the night.</li>
   <li>Enjoy the narrow canals laced by the infinite greenery imparted by coconut palms, watch the gentle and soothing greenery of paddy fields and the village folks at work.</li>
   <li>Relax on board.</li>
   <li>Overnight stay in Alleppey.</li>
   <li>Meals: AP</li>
 </ul>
 
 </p>
 </details>
 <details>
    <summary>Day 4: Departure</summary>
    <p><ul>
     <li>Transfer to Kochin.</li>
     <li> You will be dropped at Kochi Airport/railway station to catch a flight/train.</li>
     <li> Meals: NA</li>
   </ul>
   
   </p>
   </details>
</div>
    </section>
   <div style="margin-left: 42%;margin-bottom: 5%;">
    <a href="/package2/package_booking/<%=details.phone%>" class="btn btn-lg">Book Now</a>
   </div>

</body>
</html>