<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ooty package</title>
    <link href="/css/style1.css" rel="stylesheet">
    <style>
     
        body{
            background-color: #dcf3f7;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            scroll-behavior: smooth;
            box-sizing: border-box;
            
        }
        .image img{
    display: inline-flex;
          vertical-align: top;
          position: relative;
          width: 50px;
          height: 50px;
          margin-left: 10%;
          margin-top: 15px; 
          opacity: 90%;  
          border:1px solid black;
          border-radius: 50px;
  }
  .containerr {
    width: 10%;
    align-items: center;
    justify-content: center;
  }
  .textt {
   position: absolute;
   margin-left:5.5%;
   margin-top:-5%;
  }
  .go-btn{
    background-color: #3e52e4; 
        border-radius: 5px;
        color: white; 
        border: none;
        padding: 9px 10px; 
        font-size: 14px; 
        cursor: pointer; 
 }
 .go-btn:hover{
    color:black;
    transition: 0.7;
 }
 h1 {
      text-align: center;
      color: #333333;
    }

    .main-body img{
        width:3%;
        height: auto;
        margin-left: 27%;
        margin-top: 3%;
    }
    </style>
</head>
<body>
    <div>
      <div class="containerr">
        <div class="image">
          <img src="/css/images/logo.jfif">
        </div>
        <div class="textt">
            <h1 style="font-size: 32px;">Travel</h1>
        </div>
    </div>
    <div style="text-align: right ;margin-top: -3.3%;margin-right:1.5%">
      <a href="http://localhost:3000/account/<%= details.phone%>">
          <button class="go-btn">Back</button>
      </a>
  </div>
  <h1 style="text-decoration: underline;">Ooty tour package</h1>
        <div class="carousel">
          <ul class="slides">
            <input type="radio" name="radio-buttons" id="img-1" checked />
            <li class="slide-container">
              <div class="slide-image">
                <img src="/css/images/ooty/ooty.jpg">
              </div>
              <div class="carousel-controls">
                <label for="img-3" class="prev-slide">
                  <span>&lsaquo;</span>
                </label>
                <label for="img-2" class="next-slide">
                  <span>&rsaquo;</span>
                </label>
              </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-2" />
            <li class="slide-container">
              <div class="slide-image" style="width:100%;">
                <img src="/css/images/ooty/tea garden.jpg">
              </div>
              <div class="carousel-controls">
                <label for="img-1" class="prev-slide">
                  <span>&lsaquo;</span>
                </label>
                <label for="img-3" class="next-slide">
                  <span>&rsaquo;</span>
                </label>
              </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-3" />
            <li class="slide-container">
              <div class="slide-image">
                <img src="/css/images/ooty/botanical garden.jpg">
              </div>
              <div class="carousel-controls">
                <label for="img-2" class="prev-slide">
                  <span>&lsaquo;</span>
                </label>
                <label for="img-1" class="next-slide">
                  <span>&rsaquo;</span>
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <section>
        <div class="main-body">
          <img src="/css/images/icons/location.png" >
          <h3 style="margin-left: 31%; margin-top: -2%;">Tamil Nadu,India</h3>
        </div>
        <div class="main-body">
          <img src="/css/images/icons/clock.png" >
          <h3 style="margin-left: 31%; margin-top: -2%;">2 nights/3 days</h3>
        </div>
        <div class="main-body" style="margin-left: 40%;margin-top: -13%;">
          <img src="/css/images/icons/price.png" >
          <h3 style="margin-left: 32%; margin-top: -2%;">price Rs 5,999</h3>
        </div>
        
         
        </div>
      </section>

      <section class="faqs" id="Faqs">
        <div style="    width: 65%;border: none;margin-left: 15%;margin-top:10%;background-color: white;">
 <details>
   <summary>Day 1: Arrive in Ooty</summary>
   <p><ul>
    <li>On arrival at Coimbatore airport/railway station, you will be picked up and then transferred to Ooty.</li>
    <li> On arrival in Ooty, check in to the hotel.</li>
    <li>After freshening up, go sightseeing in Ooty.</li>
    <li>Visit Ooty Lake, Botanical Garden, Doddabetta Peak, Wax Museum, Thread Garden, Tea factory.</li>
    <li>Later, free time for shopping.</li>
   <li> Overnight stay in Ooty.</li>
  </ul>
  
  </p>	 
 </details>
 <details>
  <summary>Day 2. Explore Ooty</summary>
  <p>
    <ul>
   <li>Explore Ooty </li>
   <li>Visit Golf Club, Kamaraj Sagar Dam, Pine Forest, School Mund, 6th-Mile, 9th-Mile, Pykara Dam, Pykara Waterfalls, Pykara boat house, and Rose Garden.</li>
   <li> Overnight stay in Ooty.</li>
    </ul>
 </p>
 </details>
 <details>
  <summary>Day 3. Coonoor Sightseeing & Departure</summary>
  <p><ul>
   <li>Depart for Coonoor sightseeing.</li>
   <li>Visit Valley View, Staff College Gymkhana Club, Sim's Park, Tea Gardens, Lamb's Rock, Dolphin's Nose, and Catherine Waterfalls.</li>
   <li> Later depart to Coimbatore airport/railway station for the onward journey.</li>
    
</ul>
 
 </p>
 </details>
</div>
    </section>
   <div style="margin-left: 42%;margin-bottom: 5%;">
    <a href="/package3/package_booking/<%=details.phone%>" class="btn btn-lg">Book Now</a>
   </div>

</body>
</html>